# Compiled Object files
*.slo
*.lo
*.o
*.obj
test_file
test
test.dSYM/
bin/

# Precompiled Headers
*.gch
*.pch
*.swp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# cmake garbage 
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/
/CMakeFiles/**
/Debug/
/Debug/**
/Release/
/Release/**
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/try_signal.dir/
/try_signal.dir/**
/try_signal.sln
/try_signal.vcxproj
/try_signal.vcxproj.filters
/x64/
/x64/**

*.users

srvctrl.sln.metaproj.tmp
*.tmp
*.metaproj.tmp
*.sln.metaproj.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj.user

# Precompiled Headers
*.gch
*.pch