# Compiled Object files
*.slo
*.lo
*.o
*.obj
test_file
test
test.dSYM/
bin/

# Precompiled Headers
*.gch
*.pch
*.swp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# cmake

*.sln
*.vcxproj
*.vcxproj.filters
bindings/
bindings/**
torrent-rasterbar.dir/
torrent-rasterbar.dir/**
x64/
x64/**
Release/
Release/**
Debug/
Debug/**
CMakeCache.txt
CMakeFiles/
CMakeFiles/**
LibtorrentRasterbar/
LibtorrentRasterbar/**
cmake_install.cmake
